.snippet {
    width: 95%;
    /* height: fit-content; */

    max-height: 200px;

    /* overflow: scroll; */

    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    background-color: #272822;

    overflow: auto;

    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;

    padding: 1rem;
    margin: 1rem 0 !important;

    color: white;
}